<!doctype html>
<html>
<head style="overflow-x:hidden">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
	<link rel="stylesheet" href="/static/layout.css">
</head>
<body>
<div class="main">
<div class="content">
<div class="grids-example">
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1">
    	Question {{.Question}} of up to {{.MaxRounds}}
    </div>
    <div class="pure-u-1 pure-u-md-1">
    	Choose the statement that applies to you the most.  Individual statements may be repeated.
    </div>
    {{range $option := .Options}}
    <div class="pure-u-1">
		<a class="pure-button pure-button-primary" style="white-space:normal;" href="{{$.Path}}?user={{$.UserKey}}&prev={{$.Prev}}&pref={{$option.Link}}">{{$option.Text}}</a>
    </div>
    {{end}}
</div>
</div>
</div>
</div>
</body>
</html>